@import "tailwindcss";

@theme {
  /* COLOR TOKENS */
  --bb-bg: #f5f5f5;
  --bb-primary: #ffc453;
  --bb-secondary: #000000;
  --bb-disabled: #dad8d8;
  --bb-text-disabled: #858484;
  --bb-gray-900: #808080;
  --bb-input-text: #808080;
  --bb-border: #b4b4b4;
  --bb-divider: #e0e0e0;
  --bb-overlay: rgba(0, 0, 0, 0.7);

  /* SHADOW TOKENS */
  --bb-shadow: 0px 3px 7px -1px #2222221a;
}
